MYSQL_DATABASE=snr_homepage
MYSQL_USER=snr_user
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me

DATABASE_URL="mysql://snr_user:change_me@localhost:3306/snr_homepage"
SHADOW_DATABASE_URL="mysql://root:change_me@localhost:3306/snr_homepage_shadow"
